{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <sript src="{% static 'bootstrap/js/bootstrap.min.js' %}"></sript>
        <title>{{ title }}</title>
    </head>
    <body>

        <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">MotionDetect</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDark" aria-controls="navbarDark" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse show" id="navbarDark">
                    <ul class="navbar-nav me-auto mb-2 mb-xl-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Load video</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/list">List videos</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    
        {% block content %}
        {% endblock %}
    </body>
</html>